
<h1>
  {{ title }}
</h1>
<app-task-list></app-task-list>

<h1>
  Pipes
</h1>
<br/>
{{ user | json }}
<br/>
{{ text | uppercase }}
<br/>
{{ text | lowercase }}
<br/>
{{ percentValue | percent }}
<br/>
{{ date | date : 'yyyy/MM/dd'}}
<br/>
{{ money | currency }}
<br/>
<br/>
<h1>
  Diretivas
</h1>
<div *ngIf="isAdmin2">
  You are Administrator 2
</div>
<br/>

<div [ngSwitch]="profile">
  <div *ngSwitchCase="1">Option 1</div>
  <div *ngSwitchCase="2">Option 2</div>
  <div *ngSwitchDefault>Default</div>
</div>
<br/>

<h1>Validing form</h1>
<app-validing-form></app-validing-form>

--------------------------------------------------
<h1>Serviços</h1>
<br/>
<app-comments></app-comments>
